@import 'main.less';

.hero {
	position: absolute;
	top: 0em;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	img {
		position: absolute;
		top: 0;
	}

	@media @desktop {
		max-height: 500px;

		img {
			min-width: 100%;
		}
	}

	@media @tablet {
		height: 480px;

		img {
			max-width: 1100px;
		}
	}

	@media @mobile {
		height: 380px;
		width: 100%;

		img {
			max-width: 850px;
		}
	}
}

#about {
	.wrapper;
}

h1 {
	color: @white;
	font-weight: 900;
	font-size: 2.5em;
	text-align: center;
	margin-bottom: .5em;

	@media @desktop {
		margin-top: .75em;
	}

	@media @tablet {
		font-size: 1.25em;
		line-height: 1.15em;
	}

	@media @mobile {
		font-size: 1.75em;
	}
}

p {
	color: @white;
	font-weight: 400;
	max-width: 45em;
	margin: 0 auto;
	padding: .75em 0;

	&:first-of-type {
		margin-top: 4em;
	}

	@media @mobile {
		max-width: 300px;
		text-align: center;

		&:last-of-type {
			display: none;
		}
	}
}

h3 {
	font-weight: 900;
	font-size: 2em;
	text-align: center;
	margin: 1em 0;

	@media @desktop {
		margin-top: 2em;
	}

	@media @mobile {
		font-size: 1.75em;
		margin: 2em 0 1em;
	}
}

.clients {
	max-width: 100%;
	display: block;
	margin: 2em auto;

	@media @desktop {
		margin-top: 9em;
	}
}

ul {
	margin-bottom: 2em;
	list-style: none;
}

.office {
	.clear;
}

.photo {
	display: block;

	@media @desktop {
		float: left;
		width: 333px;
		height: 222px;
	}

	@media @tablet {
		float: left;
		width: 50%;
		max-height: 242px;
		overflow: hidden;

		&:last-of-type {
			margin-left: 25%;
		}
	}

	img {
		max-width: 100%;
		pointer-events: none;
	}
}

@media @desktop {
	.display {
		img {
			position: absolute;
			max-width: 1000px;
			z-index: 10;
			pointer-events: auto;
		}

		&:nth-of-type(1){ img {top: 0; left: 0; }}
		&:nth-of-type(2){ img {top: 0; left: -333px; }}
		&:nth-of-type(3){ img {top: 0; right: 0; }}

		&:nth-of-type(4){ img {top: -222px; left: 0; }}
		&:nth-of-type(5){ img {top: -222px; left: -333px; }}
		&:nth-of-type(6){ img {top: -222px; right: 0; }}

		&:nth-of-type(7){ img {bottom: 0; left: 0; }}
		&:nth-of-type(8){ img {bottom: 0; left: -333px; }}
		&:nth-of-type(9){ img {bottom: 0; right: 0; }}
	}
}

.office-photos {
	padding: 3em 0 1em;
	margin-top: 4em;
	background-image: url('/model/images/subtle_dots.png');
	background-repeat: repeat;
	background-color: transparent;

	@media @desktop {

		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 3000px;

			background-image: url('/model/images/subtle_dots.png');
			background-repeat: repeat;
			background-color: transparent;
		}

		&:before { right: 100.05%; }
		&:after { left: 100.05%; }
	}

	@media @tablet {
		margin-top: 2em;
	}

	h3 {
		margin-top: 0;
	}
}

.recognition {
	@media @desktop {
		margin-bottom: 2em;

		ul {
			height: 353px;
		}
	}

	@media @tablet {
		ul {
			height: 320px;
		}
	}

	@media @mobile {
		ul {
			.clear;
		}
	}
}

.quote {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform-style: preserve-3d;

	&:after {
		content: "";
		display: block;
		height: .5em;
		width: .5em;
		border-radius: .75em;
		border: 1px solid @silver;
		background-color: @white;
		position: absolute;
		bottom: -1em;
		z-index: 3;
		cursor: pointer;
	}

	&:nth-of-type(1):after{ left: 50%-7%; }
	&:nth-of-type(2):after{ left: 50%-5%; }
	&:nth-of-type(3):after{ left: 50%-3%; }
	&:nth-of-type(4):after{ left: 50%-1%; }
	&:nth-of-type(5):after{ left: 50%+1%; }
	&:nth-of-type(6):after{ left: 50%+3%; }
	&:nth-of-type(7):after{ left: 50%+5%; }
	&:nth-of-type(8):after{ left: 50%+7%; }

	&.active {
		z-index: 3;
	}

	&.active:after {
		background-color: @accent;
		border-color: @accent;
	}

	@media @mobile {
		position: relative;
		float: left;
		width: 100%;
		margin: 1em 0;

		&:after { display: none; }
	}
}

blockquote {
	color: @accent;
	text-transform: uppercase;
	text-align: center;
	display: block;
	pointer-events: none;
	opacity: 0;
	.transition(opacity .75s ease 0);

	.active &{
		opacity: 1;
		a {pointer-events: auto;}
		.transition(opacity .75s ease 0);
	}

	@media @desktop {
		font-size: 2em;
		padding: 1.75em 7em;
		height: 351px;
		background: url('/model/images/awardsleaves.png') no-repeat center 0 transparent;
	}

	@media @tablet {
		width: 610px;
		height: 280px;
		margin: 1em auto 0;
		padding: .5em 2.75em 0;
		font-size: 1.75em;
		background: url('/model/images/awardsleaves.png') no-repeat center 0 transparent;
		background-size: contain;
	}

	@media @mobile {
		width: 100%;
		opacity: 1;
	}
}

cite {
	display: block;
	font-size: .75em;
	text-transform: none;

	&:before {
		content: "— ";
	}

	@media @desktop {
		margin-top: 2.5em;
	}

	@media @tablet {
		margin-top: 1.5em;
	}

	@media @mobile {
		margin-top: .25em;
	}
}

.arrow {
	display: block;
	width: 23px;
	height: 42px;
	text-indent: -9999px;
	font-size: 0;
	z-index: 4;
	position: absolute;
	top: 45%;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-color: transparent;

	&.prev {
		left: 2em;
		background-image: url('/model/images/recocnition_backarrow.png');
	}

	&.next {
		right: 2em;
		background-image: url('/model/images/recognition_nextarrow.png');
	}

	@media @mobile {
		display: none;
	}
}
