@import 'main.less';

#clients {
	.wrapper;
}

.work-nav {
	border-bottom: 2px solid @black;
	margin-bottom: 2em;
	font-size: .75em;
	overflow: auto;

	a {
		display: block;
		float: left;
		border-right: 2px solid @black;
		padding: 1em 1.5em;
		text-transform: uppercase;
		font-weight: 700;

		@media @tablet {
			padding: 1.5em;
		}

		&.active,
		&:hover,
		&:focus {
			background-color: @accent;
			color: @white;
			.transition;
		}
	}
}

ul {
	overflow: auto;
}

li {
	display: block;
	float: left;
	width: 99%/4;
	max-height: 235px;
	margin: 1px;
	overflow: hidden;
	z-index: 1;

	@media @tablet {
		width: 99%/3;
	}

	a {
		display: block;
	}

	img {
		width: 100%;
		height: 100%;
	}

	&:before {
		content: "";
		z-index: 2;
		position: absolute;
		bottom: 15px;
		right: 15px;
		display: block;
		height: 1.75em;
		width: 1.75em;
		border: 2px solid @white;
		border-radius: 1em;
		background-color: transparent;
	}

	&:after {
		content: "▶";
		z-index: 3;
		position: absolute;
		bottom: 21px;
		right: 22px;
		font-size: .8em;
		color: @white;
	}

	&:before,
	&:after {
		opacity: 0;
		.transition(opacity 0.75s ease 0);
	}

	&:hover,
	&:focus {
		&:before,
		&:after {
			opacity: 1;
			.transition(opacity 0.75s ease 0);
		}
	}
}
