@import 'main.less';

#contact {
	.wrapper;
}

.button {
	font-size: .8em;
	font-weight: 500;
	padding: .75em 3em;
}

h1,
h2 {
	font-size: 1.5em;
	font-weight: 900;
}

.info {
	float: left;
	text-align: center;
	width: 60%;
	margin-bottom: 2em;

	h1,
	h2 {
		margin: 2em 0 .5em;
		color: @accent;
	}

	a,
	span {
		line-height: 1.75em;
	}

	.address { display: block; }

	span {
		color: @accent;
	}

	@media @mobile {
		float: none;
		width: 100%;
	}
}

.contact {
	float: right;
	max-width: 40%;
	border-left: 1px solid @black;

	@media @mobile {
		float: none;
		width: 100%;
		max-width: 100%;
		border: none;
		margin-top: 5em;
	}
}

.project,
.email {
	padding: 2em 0 4em 2em;

	h1,
	h2 {
		margin-bottom: 1em;
	}

	@media @mobile {
		padding: .5em;

		h1,
		h2 {
			font-size: 1.25em;
			margin-bottom: .5em;
		}

		a {
			display: block;
			margin-bottom: 3em;
			padding: 1.25em;
		}
	}
}

.project {
	border-bottom: 1px solid @black;

	@media @mobile {
		border: none;
	}
}

