@import 'main.less';

.eblast-header {
	display: block;
	width: 100%;
	max-width: 1150px;
	margin: 0 auto 2em;
}

.eblast-content {
	.wrapper;
	max-width: 900px;
	padding-bottom: 2em;
}

video {
	display: block;
	margin: 2em auto;
	width: 100%;

	@media @desktop { max-height: 560px; }
	@media @tablet { max-height: 450px; }
	@media @mobile { max-height: 215px; }
}

.button {
	font-size: .8em;
  font-weight: 500;
  padding: .75em 3em;
}
