@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato'), url(/model/Lato/Lato-Lig.ttf) format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato'), url(/model/Lato/Lato-Reg.ttf) format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato'), url(/model/Lato/Lato-Bol.ttf) format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: local('Lato'), url(/model/Lato/Lato-Bla.ttf) format('ttf');
}
