header {
	z-index: 10;
	.wrapper;
	padding: 1.5em 0 .85em;
	border-bottom: 2px solid @black;

	&.white {
		border-bottom: 2px solid @white;
		color: @white;
	}

	@media @mobile {
		padding-top: 1em;

		&.white, & {
			border: none;
		}
	}
}

.met-logo {
	display: block;
	max-width: 200px;
	width: 20%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
	background-image: url('/model/images/metlogo_black.png');

	.white & {
		background-image: url('/model/images/metlogo_white.png');
	}

	@media @desktop {
		min-height: 3.95em;
	}

	@media @tablet {
		min-height: 3.2em;
	}

	@media @mobile {
		width: 60%;
		max-width: auto;
		min-height: 4em;
	}
}

.main-nav,
.sub-nav {
	float: right;
	text-align: right;
	display: block;
	width: 80%;
	border-left: 1px solid @black;

	.white & {
		border-left: 1px solid @white;
	}

	@media @tablet {
		width: 78%;
	}

	@media @mobile {
		width: 50%;
		.white &, & {
			border: none;
		}
	}

	a {
		display: inline-block;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-right: 1px solid @black;

		.white & {
			border-right: 1px solid @white;
		}

		&:last-of-type {
			border-right: 0;
		}

		&.current {
			color: @accent;
		}

		&:hover,
		&:focus {
			color: @accent;
			.transition;
		}

		@media @mobile {
			display: block;
			text-align: right;

			.white &, & {
				border: none;
			}
		}
	}
}

.main-nav {
	@media @mobile {
		// Menu button
		&:after {
			content: "";
			cursor: pointer;
			position: absolute;
			font-size: 2em;
			top: .25em;
			right: .25em;
			width: 1em;
			height: .64em;
			border-top: .375em double @black;
			border-bottom: .125em solid @black;

			.white & {
				color: @white;
				border-color: @white;
			}
		}
	}
}

.main-nav a {
	width: 19.5%;
	margin: 0;
	font-size: .75em;
	font-weight: 900;
	line-height: 1em;
	padding: 1.85em 0 1.7em;

	@media @desktop {
		&:last-of-type {
			display: none;
		}
	}

	@media @tablet {
		width: 19%;
		padding: 1.25em 0;

		&:last-of-type {
			display: none;
		}
	}

	@media @mobile {
		display: none;
	}
}

.main-nav-open {
	@media @mobile {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		width: 100%;

		// Overlay
		&:before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: @black;
			opacity: .92;
			pointer-events: none;
		}

		&:after {
			display: none;
		}

		a {
			display: block;
			width: 100%;
			font-size: 1.5em;
			text-align: center;
			padding: 1em;
			color: @white;
			z-index: 200;

			&:first-of-type {
				margin-top: 2em;
			}
		}
	}
}

.sub-nav {
	border-bottom: 1px solid @black;

	.white & {
		border-bottom: 1px solid @white;
	}

	@media @mobile {
		display: none;
	}
}

.sub-nav a {
	font-size: .6em;
	font-weight: 500;
	padding: .4em 2em .6em;
}
