@import 'main.less';

header,
footer {
	z-index: 10;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	&:before {
		content: "";
		display: block;
		background-image: url('/model/images/coolestoffice.png');
		background-color: transparent;
		background-position: 0 0;
		background-repeat: no-repeat;
		height: 135px;
		width: 301px;
		position: absolute;
		top: -150px;
		right: 0;
	}

	@media @mobile {
		display: none;
	}
}

#home {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	min-height: 70%;
}
