html {
	background: @white;
	color: @black;
	font-size: 16px;

	@media @tablet {
		font-size: 18px;
	}

	@media @desktop {
		overflow: hidden;
	}
}

html,
input,
textarea {
	font-family: 'Lato', 'Helvetica', sans-serif;
	font-weight: 300;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	clear: both;
	width: 100%;

	@media @mobile {
		width: 90%;
	}

	@media @tablet {
		width: 95%;
	}

	@media @desktop {
		max-width: 1000px;
	}
}

.content {
	padding: 2em 0;
	z-index: 1;

	@media @desktop {
		min-height: 80%;
	}
}

h1,
h2,
h3,
h4,
h5 {
	text-transform: uppercase;
	line-height: 1em;
	font-weight: 400;
}

p {
	line-height: 1.5em;
	padding: 1em 0;
	font-weight: 300;
}

input,
textarea {
	padding: .95em 1em 1em;
	font-weight: 400;
	min-width: 100%;
	margin: .6em 0;
	border: 1px solid @silver;
	box-shadow: 0 0 .05em @silver;

	&:focus,
	&:active {
		outline-color: @accent;
		.transition;
	}
}

textarea {
	min-height: 10em;
}

button,
.button {
	display: inline-block;
	border-radius: .5em;
	background-color: @accent;
	color: @white;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: .75em 2em;
	margin-top: 2em;
	text-align: center;
}
