// Variables
@accent: #469848;
@black: #000;
@white: #fff;
@silver: lighten(@black, 70%);
@lightgrey: lighten(@black, 90%);

// Functions
.transition (@arguments: all 0.25s ease 0s){
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	-ms-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

.clear {
	&:before,
	&:after {
		content:"";
		display:table;
	}

	&:after {
		clear:both;
	}

	& {
		zoom:1; /* For IE 6/7 (trigger hasLayout) */
	}
}

// Font
@import 'font.less';

// Media Queries Breackpoints
@import 'media-queries.less';

// Reset stylesheet
@import 'reset.less';

// Basic layout
@import 'layout.less';
@import 'header.less';
@import 'footer.less';
