@import 'main.less';

#people {
	.wrapper;
}

ul {
	overflow: auto;
}

li {
	display: block;
	float: left;

	@media @desktop {
		width: 94%/3;
		max-height: 470px;
		overflow: hidden;
		opacity: 1;
		transition: opacity 1s ease 0;
		margin: 1%;
	}

	@media @tablet {
		width: 96%/2;
		height: 920px;
		margin: 1%;
	}
}

.caption {

	@media @desktop {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(255,255,255,.85);
		padding: 1em;
		opacity: 0;
		.transition(opacity 0.75s ease 0);

		li:hover & {
			opacity: 1;
			.transition(opacity 0.25s ease 0);
		}

		li.hidden:hover & {
			opacity: 0;
		}
	}

	@media @tablet {
		padding-top: 1rem;
	}

	@media @mobile {
		padding: 1em 0 2em;
	}

	h2 {
		text-transform: uppercase;
		font-weight: 900;

		span {
			text-transform: none;
			font-weight: 400;
			font-size: .9rem;
			display: block;
		}
	}

	p {
		font-size: .85rem;
		padding: 1em 0 0 0;
	}
}

h3 {
	font-weight: 900;
	font-size: 2em;
	text-align: center;
	margin: 1em 0 1em;

	@media @desktop {
		margin-top: 2em;
	}

	@media @mobile {
		font-size: 1.75em;
		margin: 2em 0 0;
	}
}

h3 + p {
	font-size: 2em;
	text-align: center;
	padding-top: 0;

	@media @mobile {
		font-size: 1.5em;
	}

	a {
		text-decoration: underline;
	}
}
