@import 'main.less';

#projects {
	.wrapper;

	@media @desktop {
		.clear;
	}
}

aside,
.info {

	@media @desktop {
		display: block;
		margin: 5em 0;
		padding: 1em 0;
	}
}

aside {
	font-size: .8em;

	@media @desktop {
		float: left;
		width: 22%;
		padding-right: 4em;
		border-right: 1px solid @black;
	}

	div:first-of-type {
		margin-bottom: 1em;
	}

	span {
		display: block;
		font-weight: 700;
		text-transform: uppercase;
		margin: 2em 0 .5em;
	}
}

.info {
	@media @desktop {
		float: right;
		width: 70%;
	}

	@media @tablet {
		margin-top: 1em;
	}

	@media @mobile {
		margin-top: 1em;
	}
}

h1 {
	font-size: 3em;
	line-height: 1em;
	font-weight: 900;
	margin: 0 0 .5em;

	@media @mobile {
		font-size: 2em;
		margin-bottom: 0;
	}
}

.artworks {
	width: 100%;

	@media @desktop { height: 560px; }
	@media @tablet {
		height: 450px;

		img,
		video {
			max-height: 450px;
			display: block;
			margin: 0 auto;
		}
	}

	@media @mobile {
		overflow: auto;

		img,
		video {
			max-height: 215px;
		}
	}

	img {
		max-width: 100%;
	}
}

.artwork {
	list-style: none;
	z-index: 1;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	img,
	video,
	span {
		pointer-events: none;
		opacity: 0;
		.transition(opacity .75s ease 0);
	}

	@media @desktop {
		&:after {
			content: "";
			display: block;
			height: .75em;
			width: .75em;
			border-radius: .75em;
			border: 1px solid @silver;
			background-color: @white;
			position: absolute;
			top: 590px;
			z-index: 3;
			cursor: pointer;
			opacity: 1;
		}
	}

	@media @mobile {
		position: relative;
		margin-bottom: .5em;

		img,
		video,
		span {
			opacity: 1;
			pointer-events: auto;
		}
	}
}

@media @desktop {

	.artwork-2 li {
		&:nth-of-type(1):after{ left: 50%-1%; }
		&:nth-of-type(2):after{ left: 50%+1%; }
	}

	.artwork-3 li {
		&:nth-of-type(1):after{ left: 50%-2%; }
		&:nth-of-type(2):after{ left: 50%; }
		&:nth-of-type(3):after{ left: 50%+2%; }
	}

	.artwork-4 li {
		&:nth-of-type(1):after{ left: 50%-3%; }
		&:nth-of-type(2):after{ left: 50%-1%; }
		&:nth-of-type(3):after{ left: 50%+1%; }
		&:nth-of-type(4):after{ left: 50%+3%; }
	}

	.artwork-5 li {
		&:nth-of-type(1):after{ left: 50%-4%; }
		&:nth-of-type(2):after{ left: 50%-2%; }
		&:nth-of-type(3):after{ left: 50%; }
		&:nth-of-type(4):after{ left: 50%+2%; }
		&:nth-of-type(5):after{ left: 50%+4%; }
	}

	.artwork-6 li {
		&:nth-of-type(1):after{ left: 50%-5%; }
		&:nth-of-type(2):after{ left: 50%-3%; }
		&:nth-of-type(3):after{ left: 50%-1%; }
		&:nth-of-type(4):after{ left: 50%+1%; }
		&:nth-of-type(5):after{ left: 50%+3%; }
		&:nth-of-type(6):after{ left: 50%+5%; }
	}

	.artwork-7 li {
		&:nth-of-type(1):after{ left: 50%-6%; }
		&:nth-of-type(2):after{ left: 50%-4%; }
		&:nth-of-type(3):after{ left: 50%-2%; }
		&:nth-of-type(4):after{ left: 50%; }
		&:nth-of-type(5):after{ left: 50%+2%; }
		&:nth-of-type(6):after{ left: 50%+4%; }
		&:nth-of-type(7):after{ left: 50%+6%; }
	}
}

.artwork.active{
	img,
	video,
	span {
		pointer-events: auto;
		opacity: 1;
		.transition(opacity .75s ease 0);
	}

	@media @desktop {
		&:after {
			background-color: @silver;
		}
	}
}

.arrow {
	z-index: 2;
	width: 40px;
	height: 80px;
	font-size: 0;
	text-indent: -9999px;
	position: absolute;
	top: 40%;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-color: transparent;

	&.prev { background-image: url('/model/images/button_back.png');	}
	&.next { background-image: url('/model/images/button_next.png'); }

	@media @desktop {
		&.prev { left: -40px; }
		&.next { right: -40px; }
	}

	@media @tablet {
		&.prev { left: 0; }
		&.next { right: 0; }
	}

	@media @mobile {
		display: none;
	}
}
