/*
	Every element should behave as border-box
*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	position: relative;
}

/*
	Margin, padding, and border resets
	except for form elements
*/

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, dl, dt, dd, ol, ul, li,
form, label, article, aside, footer,
header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}

/*
	Consistency fixes
	adopted from http://necolas.github.com/normalize.css/
*/

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, audio, canvas, video {
	display: block;
}

html {
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	font-size: 100%;
}

b, strong {font-weight: bold;}
abbr[title] {border-bottom: 1px dotted;}

// Fix some link :active issue with Webkit
a, a:active {
	color: inherit;
	text-decoration: none;
}

a img, img {
	-ms-interpolation-mode: bicubic;
	border: 0;
}

input, textarea, button, select {
	margin: 0;
	border: none;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
}

	button,
	html input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		cursor: pointer;
		-webkit-appearance: button;
	}

	textarea {overflow: auto;}

/*
	Text selection
	These are easy to forget
*/

::selection {
	background: lighten(@accent, 50%);
}
::-moz-selection {
	background:lighten(@accent, 50%);
}

img::selection {
	background: transparent;
}
img::-moz-selection {
	background: transparent;
}

body {
	-webkit-tap-highlight-color: transparent;
}
