@import 'main.less';

#start-a-project {
	.wrapper;
	text-align: center;

	h1 {
		font-size: 2.5em;
		font-weight: 900;

		&+p {
			margin-top: 1em;
		}
	}

	h2 {
		color: @accent;
		font-size: 1.75em;
		margin: 1em 0 0;
		padding: .2em 0;
	}

	form {
		text-align: left;
		max-width: 600px;
		width: 95%;
		margin: 2em auto;
	}

	button {
		width: 100%;
	}

	@media @mobile {
		h1 {
			font-size: 2em;
		}

		h1,
		p {
			text-align: left;
		}
	}
}
