@import 'main.less';

.hero {
	position: absolute;
	top: 0em;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	img {
		position: absolute;
		top: 0;
	}

	@media @desktop {
		max-height: 477px;

		img {
			min-width: 100%;
		}
	}

	@media @tablet {
		height: 347px;

		img {
			max-width: 1100px;
		}
	}

	@media @mobile {
		height: 300px;

		img {
			max-width: 750px;
		}
	}
}

#what-we-do {
	.wrapper;
}

h1 {
	color: @white;
	text-align: center;
	font-size: 2.25em;
	line-height: 1.15em;

	@media @desktop {
		margin: 2.5em 0 5em;
	}

	@media @tablet {
		max-width: 800px;
		margin: .25em auto 0;
	}

	@media @mobile {
		max-width: 500px;
		margin: 0 auto 2em;
		font-size: 1.5em;
	}
}

h3 {
	font-weight: 900;
	font-size: 2em;
	text-align: center;
	margin: 1em 0 1em;

	@media @desktop {
		margin-top: 2em;
	}

	@media @mobile {
		font-size: 1.75em;
		margin: 2em 0 0;
	}
}

.what-we-do {

	@media @desktop {
		padding: 1em 0;
		background-image: url('/model/images/subtle_dots.png');
		background-repeat: repeat;
		background-color: transparent;

		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 3000px;

			background-image: url('/model/images/subtle_dots.png');
			background-repeat: repeat;
			background-color: transparent;
		}

		&:before { right: 100.05%; }
		&:after { left: 100.05%; }
	}

	h3 {
		margin-top: 0;
	}

	@media @tablet { padding: 5em 0; }
	@media @mobile { padding: 5em 0; }
}

ul {
	overflow: auto;
	margin-top: 4em;
}

ul li {
	display: block;
	float: left;
	text-align: center;

	img {
		max-width: 100%;
	}

	@media @desktop {
		width: 24.5%;
		height: 22em;
		padding: 0 1.75em;

		p { font-size: .8em; }
	}

	@media @tablet {
		width: 33%;
		height: 24em;
		padding: 0 1em;

		&:nth-last-of-type(2){
			margin-left: 16%;
		}
	}

	@media @mobile {
		margin-bottom: 2em;

		img {
			max-width: 50%;
		}
	}
}

h4 {
	text-transform: uppercase;
	color: @accent;
	font-weight: 700;
	margin: 1.5em 0 0;

	@media @mobile {
		font-size: 1.25em;
		margin: 1em 0 0;

		&+p {
			max-width: 85%;
			margin: 0 auto;
		}
	}
}

dl {
	@media @desktop {
		height: 5em;
		margin-bottom: 12em;
	}

	@media @tablet {
		margin-top: 4em;
	}
}

dt {
	display: block;
	text-transform: uppercase;
	color: @silver;
	font-weight: 400;

	@media @desktop {
		float: left;
		width: 25%;
		height: 3em;
		text-align: center;
		cursor: pointer;
		border-bottom: 2px solid @silver;
		font-size: .85em;

		&:hover,
		&:focus,
		&.active {
			color: @accent;
			.transition;

			&:after {
				background-color: @accent;
				.transition;
			}

			& + dd {
				opacity: 1;
				.transition;
			}
		}
	}

	@media @tablet {
		width: 25%;
		height: 7.5em;
		padding: 0 2em 0 0;
		text-align: right;
		color: @accent;
		border-right: 1px solid @silver;

		&:last-of-type {
			border: none;
		}
	}

	@media @mobile {
		color: @accent;
		margin: 2em 0 .5em;
		font-size: 1em;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		height: .9em;
		width: .9em;
		border-radius: .5em;

		@media @desktop {
			bottom: -.55em;
			left: 0;
			right: 0;
			margin: 0 auto;
			background-color: @silver;
		}

		@media @tablet {
			top: 0em;
			right: -.5em;
			background-color: @accent;
		}
	}
}

dd {
	display: block;
	background-color: @lightgrey;
	line-height: 1.5em;
	font-size: .9em;
	padding: 1.5em 2em;

	@media @desktop {
		opacity: 0;
		width: 30em;
		position: absolute;
		top: 6em;

		&:nth-of-type(1){ left: 8%; &:before { left: 7%; } }
		&:nth-of-type(2){ left: 33%; &:before { left: 7%; } }
		&:nth-of-type(3){ left: 58%; &:before { left: 7%; } }
		&:nth-of-type(4){ right: 8.25%; &:before { right: 7%; } }
	}

	@media @tablet {
		padding: 1em 2em;
		width: 68%;
		left: 31%;
		position: absolute;

		&:nth-of-type(1){ top: -1.25em; }
		&:nth-of-type(2){ top: 7em; }
		&:nth-of-type(3){ top: 15.4em; }
		&:nth-of-type(4){ top: 23.75em; }
		&:nth-of-type(5){ top: 32.1em; }
	}

	@media @mobile {
		padding: 1.25em 1em;
	}

	&:before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;

		// Arrow on the top
		@media @desktop {
			top: -1.7em;
			border-left: 1em solid transparent;
			border-right: 1em solid transparent;
			border-bottom: 1.75em solid @lightgrey;
		}

		// Arrow on the left side
		@media @tablet {
			top: .75em;
			left: -1.7em;
			border-top: 1em solid transparent;
			border-bottom: 1em solid transparent;
			border-right: 1.75em solid @lightgrey;
		}
	}

	span {
		display: none;

		@media @desktop {
			display: block;
			font-size: 1.5em;
			margin-bottom: .25em;
			color: @accent;
			text-transform: uppercase;
		}
	}
}

.blink {
	@media @desktop {
		-webkit-animation: blink 1.5s ease-out infinite;
		animation: blink 1.5s ease-out infinite;

		&:after {
			-webkit-animation: bgblink 1.5s ease-out infinite;
			animation: bgblink 1.5s ease-out infinite;
		}
	}
}

@-webkit-keyframes blink {
	0% { color: @silver; }
	50% { color: @accent; }
	100% { color: @silver; }
}

@-webkit-keyframes bgblink {
	0% { background-color: @silver; }
	50% { background-color: @accent; }
	100% { background-color: @silver; }
}

@keyframes blink {
	0% { color: @silver; }
	50% { color: @accent; }
	100% { color: @silver; }
}

@keyframes bgblink {
	0% { background-color: @silver; }
	50% { background-color: @accent; }
	100% { background-color: @silver; }
}
