@import 'main.less';

#work {
	.wrapper;
}

.work-nav {
	border-bottom: 1px solid @black;
	margin-bottom: 2em;
	font-size: .8em;
	overflow: auto;

	@media @mobile {
		display: none;
	}

	a {
		display: block;
		float: left;
		padding: .5em 2.2%;

		&.active,
		&:hover,
		&:focus {
			color: @accent;
			.transition;
		}

		&:first-of-type { padding-left: 0; }
		&:last-of-type {
			padding-right: 0;
			font-weight: 900;
		}

		@media @tablet {
			font-size: .9em;
			padding: .5em .37em;
		}
	}
}

strong {
	text-transform: uppercase;
	font-weight: 700;
}

ul {
	overflow: auto;
}

li {
	display: block;
	float: left;
	width: 100%/3;
	max-height: 220px;
	overflow: hidden;
	opacity: 1;
	transition: opacity 1s ease 0;

	@media @tablet {
		width: 50%;
		max-height: 240px;
	}

	@media @mobile {
		width: 100%;
		height: auto;
		max-height: 500px;
		margin-bottom: 1em;
	}

	a {
		display: block;
	}

	img {
		width: 100%;
		height: 100%;
	}

	&.hidden {
		display: none;
		opacity: .07;
		transition: opacity 1s ease 0;
	}
}

.caption {
	display: none;

	@media @desktop {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: @black;
		color: @white;
		padding: 1em;
		text-align: center;
		opacity: 0;
		.transition(opacity 0.75s ease 0);

		li:hover & {
			opacity: 1;
			.transition(opacity 0.25s ease 0);
		}

		li.hidden:hover & {
			opacity: 0;
		}
	}

	@media @mobile {
		display: block;
		padding: .25em;
		text-align: center;
	}

}

.title {
	padding: 0;
	font-size: 1.25em;
	font-weight: 700;
	line-height: 1.25em;

	@media @desktop {
		transform: translateY(-80%);
		top: 50%;
		position: absolute;
		max-width: 90%;
	}

	@media @mobile {
		font-size: .9em;
		padding: .25em;
	}
}

.tags {
	font-size: .7em;
	font-weight: 700;
	position: absolute;
	bottom: .5em;
	left: 1em;
	right: 1em;

	@media @mobile {
		display: none;
	}
}

